#visualizza_mex {
    height: 43%;
    width: auto;
    overflow-y:scroll;
    border-radius: 10px;
   border: 2px solid black;

}
#mex {
    width:100%;
    height:auto;
    border: 5px solid rgb(15, 38, 112,0.8);
    background-color: white;
    border-radius: 50px;
    resize:none;
}
#content button {
    font-weight: bold;
    font-size: 14px;
    background-color:rgb(199, 111, 28); 
    color: white;
    padding: 5px 15px;
    border-radius: 50px;

    
}
.song button {
    font-weight: bold;
    font-size: 10px;
    background-color:rgb(199, 111, 28); 
    color: white;
    padding: 3px 10px;
    float: left;
    margin-right: 5px;
    border-radius: 40px;

    
}
#errorMessage{
    font: 150px;
    color:white;
  
}
.msg {
    border: 3px solid burlywood;
    border-radius: 10px;
    width: 87%;
    float:left;
    background-color: white;



}
.ora {
    border: 3px solid burlywood;
    border-radius: 10px;
    width: 60px;
    text-align: center;
    float:left;
    background-color: white;

}
#invia{
    font-weight: bold;
    font-size: 24px;
    background-color:rgb(199, 111, 28); 
    color: white;
    padding: 5px 15px;
    border-radius: 35px;
    margin-top: 5px;
    margin-right: 4px;
    float: right;  
}
.user{
    border: 3px solid rgba(0, 60, 255, 0.8);
    border-radius: 10px;
    background-color: white;
    width: 100px;
    text-align: center;
    float:left;
    clear: left;
}
#link{
    font-weight: bold;
    font-size: 24px;
    background-color:rgb(199, 111, 28); 
    color: white;
    padding: 5px 15px;
    border-radius: 50px;

    

    }
  
#utenteLog{ 
    margin-top:4px;
    }


    h1{
     color:rgb(0, 60, 255);
    font-weight: bold;
    font-size: 20px;
    background-color:blue;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    }

    #title{
        color:rgb(0, 60, 255);
       font-weight: bold;
       font-size: 20px;
       background-color:blue;
       color: white;
       padding: 5px 15px;
       border-radius: 50px;
       } 
       #chatStyle {
          background-color: rgba(143, 174, 223, 0.509);
          border-radius: 40px;
       }

      

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh; 
    background-image: url("images/sfondoIndex.jpg");   

}


#flex-container {   
     display: flex; 
     flex-direction:row;
     align-items: center;
     justify-content:space-around;
     margin-right: 5px;
     margin-left: 5px;
     border-radius: 10px;
     ;
   
   }
   .flex-item {
    background-color:rgb(199, 111, 28); 
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: large;
     
   }
   .hidden {
    display: none;
  }




.chat{
  
        top: 140px; left: 20px; bottom: 30px; right:20px;
        width: 100%;
        height: 400px;
      

        padding: 0;
        overflow-y: scroll;
        border-radius: 50px;
        background-color: rgba(0, 14, 13, 0.4);

        border: 3px solid rgb(15, 38, 112,0.8);

}

#search-text{
    width: 90%;
    height: auto;
    padding: 10px;
    background-color: rgb(0, 14, 13, 0.4);
   color:white;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    color: white;
    font-weight: bold;

}

#search-btn{
    font-weight: bold;
    font-size: 24px;
    background-color:rgb(199, 111, 28); 
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    float:right;

    

    }
    #ricercaSpotify{
        margin-top: 30px;
    }
#titoloChat{
    font-weight: bold;
    font-size: 29px;
    color: white;
    padding: 5px 15px;
    border-radius: 40px;

;}
.container {
    align-content: space-between;
    display: flex;
    justify-content: space-between;
}
 #content {
    background-color:antiquewhite;
    border: 1px solid #dcdcdc;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;


  }  

#content img {
    height: 200px;
   width: 200px;
}
.Playlist {
    background-color:rgb(247, 241, 233);
    align-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    width: 90%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 4px solid brown;
    padding: 5px 15px;
    border-radius: 50px;

  }  
  .songadd {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    border: 4px solid brown;
    background-color: aliceblue;
   

  }
.song { 
    justify-content: center;
    display: flex;
    flex-direction: column;

}
  #linkPlaylist{
    color:rgb(0, 60, 255);
    font-weight: bold;
    font-size: 24px;
    background-color:blue;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
  }
  .border {
    border: 4px solid rgb(165, 130, 42);
    border-radius: 20px;



  }
  footer{
    display: flex;
    margin-top: 100px;
    color:white;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;

  }